@import 'defaults';

.box {
  color: white;
  margin-bottom: 28px;
  div {
    margin: 0;
    padding: 1px 15px;
    font-size: 22px;
    background-color: $grayLight;
    &.box-header {
      font-size: 24px;
      background-color: $grayDark;
      &:not(:first-child) {
        text-indent: 0.5em;
      }
    }
    &:first-child {
      @extend .box-header;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
    }
    &:last-child {
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }

  ul, ol {
    margin: 0;
    background-color: $grayLight;
    ol, ul { // inner list
      margin:0 0 0 2em;
    }
    li {
      color: white;
      text-indent: 0em;
      background-color: $grayLight;
      &:before {
        color: white;
      }
    }
  }
}

@mixin box($headerColor, $contentColor) {
  div {
    background-color: $contentColor;
    &.box-header {
      background-color: $headerColor;
    }
    &:first-child {
      @extend .box-header;
    }
  }
  ul, ol {
    background-color: $contentColor;
    li {
      background-color: $contentColor;
    }
  }
}

.box-bluegreen, .box-success {
  @include box($bluegreenDark, $bluegreenLight);
}
.box-green, .box-example {
  @include box($greenDark, $greenLight);
}
.box-red, .box-alert {
  @include box($redDark, $redLight);
}
.box-blue, .box-info {
  @include box($blueDark, $blueLight);
}
.box-purple {
  @include box($purpleDark, $purpleLight);
}
.box-warning, .box-orange {
  @include box($orangeDark, $orangeLight);
}
