.full {
  position:absolute;
  top:50%;
  left:50%;
  overflow:hidden;
  margin:(-$height/2) 0 0 (-$width/2);
  width:$width;
  height:$height;
  background:#000;
  &.wide-layout {
    margin:(-$height/2) 0 0 (-$width/2);
    width:$width;
    height:$height;
  }
  // Slide
  .slide {
    position:absolute;
    top:0;
    left:0;
    margin-left:150%;
    // Next
    .next {
      visibility:hidden;
      &.active {
        visibility:visible;
      }
    }
    // Current
    &:target {
      margin:0;
    }
    // Shout
    &.shout {
      &.right, &.up, &.left, &.down {
        h1, h2 {
          opacity:0;
          transition:all 0.7s ease-out;
        }
        &:target h2 {
          opacity:1;
          -webkit-transform:translateX(0) translateY(-50%);
          transform:translateX(0) translateY(-50%);
        }
      }
      &.right h2 {
        -webkit-transform:translateX(-100%) translateY(-50%);
        transform:translateX(-100%) translateY(-50%);
      }
      &.left h2 {
        -webkit-transform:translateX(100%) translateY(-50%);
        transform:translateX(100%) translateY(-50%);
      }
      &.up h2 {
        -webkit-transform:translateX(0) translateY(100%);
        transform:translateX(0) translateY(100%);
      }
      &.down h2 {
        -webkit-transform:translateX(0) translateY(-100%);
        transform:translateX(0) translateY(-100%);
      }
    }
  }
  @import 'increment';
  @import 'progress';

  .box.shadow {
    box-shadow: 5px 5px 15px rgba(#000, 0.25);
    border-radius: 3px;
  }


  #slide-0-0 {
    color: $grayDark;
    font-size: 70px;
    font-weight: 700;
    font: 300 50px/1.4 'Open Sans Light',sans-serif;
    //background: url(/background.png);

    dl {
      font: 23px/1.6 'Open Sans Light', sans-serif;
    }

    > div {
      position:absolute;
      top:0;
      left:0;
      overflow:hidden;
      padding:$top $right $bottom $left;
      width:$width - $left - $right;
      height:$height - $top - $bottom;
    }

    hgroup {
      margin-bottom: 0;

      h1, h2 {
        text-transform: none;
        color: white;
        float: none;
        font: 300 50px/1.2 'PT Sans Narrow',sans-serif;
        visibility: visible;
        display: block;
        position: relative;
        left: 0;
        right: 0;
      }
    }

    p {
      font: 27px/1.6 'Open Sans Light', sans-serif;
      color: $grayDark;
      margin: 20px 0;
      //font-style: italic;

      &.date {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
      }
    }
  }
}
