/* Solarized Dark
http://ethanschoonover.com/solarized
https://gist.github.com/nicolashery/5765395/raw/91ae32653fec817d26ba322cbe9d62192b07b851/solarized-dark.css
*/

$base03: #002b36;  // background
$base02: #073642;
$base01: #586e75;  // comments / secondary content
$base00: #657b83;
$base0:  #839496;
$base1:  #93a1a1;  // body text / default code / primary content
$base2:  #eee8d5;
$base3:  #fdf6e3;

@import '_solarized';
